* {
    margin: 0;
}

body {
    position: relative;
    margin: 1rem;
}


header {
    height: 3rem;
    text-align: center;
    background-color: rgb(71, 71, 250);
    color: whitesmoke;
    padding-top: 1rem;
}

.container {
    display: grid;
    grid-template-columns: 10rem 1fr;
    grid-template-rows: 10rem 1fr
}

#user-form,
#userInput,
#searchBar
{
    width: 8rem;
    text-align: center;
}

#submitButton {
    width: 8.5rem;
}

#populateWeather {
    grid-column: 2;
    width: 33rem;
    margin: 1rem 0 0 1rem;
    border: 1px solid black;
    border-right: none;
}

#fiveDayCards {
    margin: 1rem 0 0 0;
    display: flex;
    justify-content: space-around;

}

.card {
    height: 150px;
    width: 100px;
    background-color: rgb(13, 136, 236);
}